[Unit]
Description=Grafana

[Service]
User=root
ExecStart=/opt/grafana/bin/grafana-server -homepath /opt/grafana/ web

[Install]
WantedBy=default.target
